<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Create New Post</title>
</head>
<body>
<form method="POST" action="">
    <label for="title"> Post Title:
        <input name="title" id="title" type="text">
    </label>
    <label for="title"> Post Body:
        <input name="body" id="body" type="text">
    </label>
    <button type="submit">Save my Post!</button>
</form>
</body>
</html>